{% extends 'base.html' %}
{% block content %}
<body>
      <!-- Navigation -->
      <nav class="navbar navbar-light fixed-top navbar-noscroll" id="mainNav">
          <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">Reception</a>
            
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                  <a class="nav-link js-scroll-trigger" href="/admin/logout/">Log Out</a>
              </li>
          </ul>
        </div>
        </nav>
        
<div class="container" style="height: 1080px; padding: 50px 0px 0px 0px;">
    <div class="card-columns" style="padding-top:80px; padding-bottom:80px;">
    {% for order in orders.order %}   
      <div class="card">
        <div class="card-body">  
         <h5 class="card-title">{{ order.table_number }}</h5>
         <p class="card-text"><small class="text-muted" >{{ order.timestamp | time }} <br> #{{ order.id }}</small></p>
         <ol style="padding-left:20px">
            {% for name in order.name %}
            <li>{{ name }}</li>
            {% endfor %}
        </ol>
            
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" onclick="done({{ order.id }})" data-target="#exampleModal">
                Done
            </button>
              

        </div>
      </div>
      {% endfor %}
      </div>
            
    </div>  
  </body>

<script>

  $(function(){
    var $curParent, Content;
    $(document).delegate("span","click", function(){
      if($(this).closest("s").length) {
        Content = $(this).parent("s").html();
        $curParent = $(this).closest("s");
        $(Content).insertAfter($curParent);
        $(this).closest("s").remove();
      }
      else {
        $(this).wrapAll("<s />");
      }
    });
  });

  function done(id)
  {
    id = parseInt(id)
    console.log(id)
    $.ajax ({
            type: 'POST',
            url: '/reception/done',
            data: JSON.stringify(id),
            success: function(data){
              if(!alert('Is this order really served?')){window.location.reload();} 
            },
            error: function(data){
                  console.log("Error")
            }
        })
  }

  function update_order()
  {
    $.ajax ({
            type: 'POST',
            url: '/reception/getneworder',
            data: JSON.stringify(id),
            success: function(data){
                location.reload()        
            },
            error: function(data){
                  console.log("Error")
            }
        })
  }


</script>
{% endblock %}