<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <title>Restaurant Management System</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" style="text-align: center; width: 100%">The Restaurant</a>
        </div>
    </nav>

    <div class="container">
    	<h1>Menu</h1>
    	<div class="row">
   	
    <div class="col-8 col-md-8">
    {% for food_type in Foodtype %}
        <h1>{{ food_type.food_type }}</h1>
        <table class="table table-sm">
        <tr>
        </tr>    
        <tr>
            <th scope="col" width="1">Item</th>
            <th scope="col" width="4">Name</th>
            <th scope="col" width="2">Price</th>
        </tr>
        {% for food_s in Food %}
        
        {% if food_s.food_type is food_type.food_type %}
        <tr>
                <th scope="col" width="1">{{ food_s.id}} </th>
                <th scope="col" width="4">{{ food_s.name}}</th>
                <th scope="col" width="2">{{ food_s.price }}</th>
            </tr>
            {% endif %}
        {% endfor %}
    </table>

    {% endfor %}
	</div>
	<div class="col-1 col-md-1">
	</div>

	<div class="col-3 col-md-3">
	<h1> Total: <div id=total_price></div>
	</h1>
	<button onclick="sendOrder()">
	<h5 style="text-align: right; width: 100%">Order</h5></button>
    <table class="table table-sm" style="width: 100%" id=name>
        <tr>
            <th>Name</th>
            <th style="width: 10px; text-align: right;">Price</th>
        </tr>
    </table>
    </div>
    </div>
	</div>

    <script type="text/javascript">
    total_price = 0
    ordered_item = {'name':[], 'price':[], 'id':[] }
        
        function add(name, price, id) {
            // initialialize json varible for storing order

            ordered_item['name'].push(name);
            ordered_item['price'].push(price);
            ordered_item['id'].push(id);

            total_price += parseInt(price)
            $("#name").append(
                '<tr scope="row"><td>' + name + '</td><td style="width: 10px; text-align: right;">' + price + '</td></tr>'
            );
            document.getElementById("total_price").innerHTML = total_price;
        }



        function sendOrder()
        {
            $.ajax({
                type: 'POST',
                url: '',
                data: JSON.stringify(ordered_item),
                success: function(data)
                {
                    console.log(data)
                }
            })
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>