{% extends 'base.html' %}


{% block content %}
<script src="https://khalti.com/static/khalti-checkout.js"></script>


<div class="d-none d-lg-block sidebar-item make-me-sticky col-lg-3 col-md-3 text-white" id="sticky-sidebar">
        <ul style="list-style-type:none;padding-top: 80px; padding-bottom: 60px" class="text-left">
          <li><a href="#stealthedeal" class="js-scroll-trigger">Steal the Deal</a></li>
          <li><a href="#salad"  class="js-scroll-trigger">Salad</a></li>
          <li><a href="#cornerbites"  class="js-scroll-trigger">Corner Bites</a></li>
          <li><a href="#mcf"  class="js-scroll-trigger">Mo:Mo / Chowmein & Fired Rice</a></li>
          <li><a href="#indiantadka"  class="js-scroll-trigger">Indian Tadka</a></li>
          <li><a href="#pasta"  class="js-scroll-trigger">Pasta</a></li>
          <li><a href="#pizza"  class="js-scroll-trigger">Pizza</a></li>
          <li><a href="#bursand"  class="js-scroll-trigger">Burger / Sandwich</a></li>
        </ul>
    </div>
    <div class="content section col-lg-6 col-md-6" id="main">

    </div>

    <div class="sidebar-item make-me-sticky col-lg-3 col-md-3">
    <h1 id="total_price" class="text-white" style=" padding-top:150px;">
    </h1>
    <table class="table table-sm" id="name">
        <tr>
            <th class="text-white text-left">Name</th>
            <th class="text-white text-right">Price</th>
        </tr>
    </table>
       <button onclick="sendOrder()" class="btn btn-primary" style="margin-bottom: 50px;">
    Order</button>
    </div>
    <button id="payment-button">Pay with Khalti</button>

    <script>

        $(document).ready(function () {
        create_menu()
        
        });

    total_price = 0
    ordered_item = {'name':[], 'price':[] }
    order_item_id = 0

        function add(name, price) 
        {
            ordered_item['name'].push(name);
            ordered_item['price'].push(price);
            order_item_id += 1
            total_price += parseInt(price)
            $("#name").append(
                '<tr scope="row" class="list-group-item-action text-white text-left" onclick="remove('+order_item_id+')"  id = "'+order_item_id+'" ><td>' + name + '</td><td style="width: 10px;" class="text-right">Rs.' + price + '</td></tr>'
            );
            document.getElementById("total_price").innerHTML = total_price;
        }
        
        function remove(order_item_id)
        {
            $("#"+order_item_id).remove();
            ordered_item['name'].splice(order_item_id,1)
            price = parseInt(ordered_item['price'])
            ordered_item['price'].splice(order_item_id,1)
            total_price = total_price - price
            document.getElementById("total_price").innerHTML = total_price;
        }
        function sendOrder()
        {
            console.log(ordered_item)
            $.ajax({
                type: 'POST',
                url: '',
                data: JSON.stringify(ordered_item),
                success: function(data)
                {
                    location.reload()
                }
            })
        }

        function create_menu()
        {
            $.ajax ({
            type: 'POST',
            url: '/get/menu',
            data: JSON.stringify(),
            success: function(data){
                outputData(data);        
            },
            error: function(data){
                    
            }
        })

        }
        function outputData(data)
        {
            for(var food_type in data)
            {
                $("#main").append(
                    "<section id='"+food_type+"'><table class='table table-sm'><tbody id='food_data_"+food_type+"'><tr><th class='text-white' colspan='2'>"+food_type+"</th></tr></tbody></table><br><br></section>"     
                );
                for (i=0;i <data[food_type].name.length; i++)
                {
                    $('#food_data_'+food_type).append(
                    "<tr class='list-group-item-action text-white text-left' scope='row' onclick='add("+'"'+data[food_type].name[i]+'"'+","+'"'+data[food_type].price[i]+'"'+")'><td>"+data[food_type].name[i]+"</td><td class='text-right'>Rs."+data[food_type].price[i]+"</td></tr>"
                    )
                }
            }
        }


        var config = {
        // replace the publicKey with yours
        "publicKey": "test_public_key_7a2733a89fe04e07851792127b4e7daf",
        "productIdentity": "khanakobill",
        "productName": "foods",
        "productUrl": " ",
        "eventHandler": {
            onSuccess (payload) {
                verify(payload)
                console.log(payload);
            },
            onError (error) {
                console.log(error);
            },
            onClose () {
                console.log('widget is closing');
            }
        }
        };

        var checkout = new KhaltiCheckout(config);
        var btn = document.getElementById("payment-button");
        btn.onclick = function () {
            checkout.show({amount: total_price *100});
        }
        function verify(payload)
        {
            $.ajax ({
                type: 'POST',
                url: '/paywithkhalti',
                data: JSON.stringify(payload),
                success: function(data){
                        if(data=="1")
                        {
                            //redirect to  popup success popup
                            console.log(data)        
                        }
                        else{
                             //redirect to  popup fail popup
                             console.log(data)   
                        }
                    },
                error: function(data){   
                        //redirect to fail popup
                        console.log(data) 
                    }
                })
        }
    </script>

<script>
    
</script>

</body>
{% endblock %}
